@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
  font-family: 'Space Grotesk', sans-serif;
}

.topDiv{
  display: flex;

}

.cardSection{
  position: absolute;
  top:20%;
  left: 5%;
}

.frontCardSection{
    display: flex;
    justify-content: center;
    height: 250px;
    padding-left: 5em;
}
.backCardSection{
  display: flex;
  justify-content: center;
  height: 250px;
  padding-left: 10em;
}

.topForm{
  padding:2em;
  position: absolute;
  top:25%;
  right: 20%;
}

.field{
  display: flex;
  flex-direction: column;
  width: 25vw;
  text-align: left;
  margin-bottom: 1.5em;
  line-height: 1em;
  font-size: 1.2em;
}

input{
  height: 3em;
}