@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
}

.top {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  background-image: url("../src/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: 50vh 100vw;
  font-size: 1.5em;
}


.cardFront{
  position: relative;
  text-align: center;
  padding-bottom: 2em;
  right: 3em;
}
.cardBack{
  position: relative;
  text-align: center;
}

.nameOfUser{
  position: absolute;
  color: white;
  top:65%;
  padding-left: 1em;
  font-size: 0.7em;
  /* width:100% */
}

.month{
  position: absolute;
  color: white;
  top:65%;
  right: 20%;
  padding-left: 1em;
  font-size: 0.7em;
  /* width:100% */
}

.divider{
  position: absolute;
  color: white;
  top:65%;
  padding-left: 1em;
  font-size: 0.7em;
  right: 16%;
  /* width:100% */
}

.year{
  position: absolute;
  color: white;
  top:65%;
  padding-left: 1em;
  font-size: 0.7em;
  right:10%
  /* width:100% */
}

.cardNumber{
  position: absolute;
  color: white;
  top:50%;
  padding-left: 1em;
  /* right:20% */
}

.cvc{
  position: absolute;
  top:42%;
  right:15%
}

.formTop {
  display: flex;
  flex-direction: column;
  width: 25vw;
  text-align: left;
  line-height: 3em;
  font-size: 0.5em;
}

label,input{
  display:flex;
  margin-bottom: 0.5em;
  flex-direction: column;
  font-size: 1.5em;
}

input{
  border-radius: 4px;
  padding-left: 0.5em;
  color: brown;
  border: 1px indigo solid;
}

input[type=submit] {
  width: 100%;
  background-color: indigo;
  color: white;
  padding: 1em 1.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(44, 4, 72);
}